<li [ngClass] = "{'list-group-item' : true, 'list-group-item-success' : numberLove > numberNotLove, 'list-group-item-danger' : numberNotLove > numberLove}">

  <div class = row>
    <div class = col-9>
      <h2> Titre: {{ posttitle }} </h2>
    </div>
    <div class = col-3>
      <p> Date : {{created_at | date: 'short'}} </p>
    </div>
  </div>

  <p> Contenu : {{ postcontent }} </p>

  <button type = "button" class = "btn btn-success" (click) = "addOneToLove()"> Love it - {{numberLove}}</button>
  <button type = "button" class = "btn btn-danger"(click) = "addOneToNotLove()"> Don't love - {{numberNotLove}} </button>

</li>
